
<header id="header">
  <div class="container">
    <h1>
      Clément Patalano
    </h1>
    <nav id="nav">
      <ul>
        <li>
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li>
          <a routerLink="/projects">Projects</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="content">
    <router-outlet></router-outlet>
</div>